@import"https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap";
.style{color:red;background:lime;border:1px solid blue}
.container-sm{margin-left:auto;margin-right:auto;max-width:640px}
.container-md{margin-left:auto;margin-right:auto;max-width:768px}
.container-lg{margin-left:auto;margin-right:auto;max-width:1024px}
.container-xl{margin-left:auto;margin-right:auto;max-width:1280px}
.container-2xl{margin-left:auto;margin-right:auto;max-width:1536px}
/*
! tailwindcss v3.0.24 | MIT License | https://tailwindcss.com
*/
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
::before,
::after {
  --tw-content: '';
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}
/*
Ensure the default browser behavior of the `hidden` attribute.
*/
[hidden] {
  display: none;
}
[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:#fff;border-color:#6b7280;border-width:1px;border-radius:0px;padding-top:0.5rem;padding-right:0.75rem;padding-bottom:0.5rem;padding-left:0.75rem;font-size:1rem;line-height:1.5rem;--tw-shadow:0 0 #0000;}
[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{outline:2px solid transparent;outline-offset:2px;--tw-ring-inset:var(--tw-empty,/*!*/ /*!*/);--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:#2563eb;--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);border-color:#2563eb}
input::-moz-placeholder, textarea::-moz-placeholder{color:#6b7280;opacity:1}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{color:#6b7280;opacity:1}
input::placeholder,textarea::placeholder{color:#6b7280;opacity:1}
::-webkit-datetime-edit-fields-wrapper{padding:0}
::-webkit-date-and-time-value{min-height:1.5em}
::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field{padding-top:0;padding-bottom:0}
select{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");background-position:right 0.5rem center;background-repeat:no-repeat;background-size:1.5em 1.5em;padding-right:2.5rem;-webkit-print-color-adjust:exact;color-adjust:exact;print-color-adjust:exact}
[multiple]{background-image:initial;background-position:initial;background-repeat:unset;background-size:initial;padding-right:0.75rem;-webkit-print-color-adjust:unset;color-adjust:unset;print-color-adjust:unset}
[type='checkbox'],[type='radio']{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:0;-webkit-print-color-adjust:exact;color-adjust:exact;print-color-adjust:exact;display:inline-block;vertical-align:middle;background-origin:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;flex-shrink:0;height:1rem;width:1rem;color:#2563eb;background-color:#fff;border-color:#6b7280;border-width:1px;--tw-shadow:0 0 #0000}
[type='checkbox']{border-radius:0px}
[type='radio']{border-radius:100%}
[type='checkbox']:focus,[type='radio']:focus{outline:2px solid transparent;outline-offset:2px;--tw-ring-inset:var(--tw-empty,/*!*/ /*!*/);--tw-ring-offset-width:2px;--tw-ring-offset-color:#fff;--tw-ring-color:#2563eb;--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)}
[type='checkbox']:checked,[type='radio']:checked{border-color:transparent;background-color:currentColor;background-size:100% 100%;background-position:center;background-repeat:no-repeat}
[type='checkbox']:checked{background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e")}
[type='radio']:checked{background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e")}
[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus{border-color:transparent;background-color:currentColor}
[type='checkbox']:indeterminate{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");border-color:transparent;background-color:currentColor;background-size:100% 100%;background-position:center;background-repeat:no-repeat}
[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus{border-color:transparent;background-color:currentColor}
[type='file']{background:unset;border-color:inherit;border-width:0;border-radius:0;padding:0;font-size:unset;line-height:inherit}
[type='file']:focus{outline:1px solid ButtonText;outline:1px auto -webkit-focus-ring-color}
*, ::before, ::after{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-pan-x: ;--tw-pan-y: ;--tw-pinch-zoom: ;--tw-scroll-snap-strictness:proximity;--tw-ordinal: ;--tw-slashed-zero: ;--tw-numeric-figure: ;--tw-numeric-spacing: ;--tw-numeric-fraction: ;--tw-ring-inset: ;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgb(59 130 246 / 0.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: ;--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: }
.container{width:100%;margin-right:auto;margin-left:auto;padding-right:2rem;padding-left:2rem}
@media (min-width: 640px){
.container{max-width:640px}}
@media (min-width: 768px){
.container{max-width:768px}}
@media (min-width: 1024px){
.container{max-width:1024px}}
@media (min-width: 1280px){
.container{max-width:1280px}}
@media (min-width: 1536px){
.container{max-width:1536px}}
.invisible{visibility:hidden}
.static{position:static}
.inline{display:inline}
.hidden{display:none}
.resize{resize:both}
*,*::before,*::after{box-sizing:border-box}
body{padding:0;margin:0}
img{min-width:100%;min-height:100%}
body,input,select,textarea{font-family:"Inter",ui-sans-serif,sans-serif}
a{color:#4a4a70;text-decoration:none}
p:not(:last-child){margin-bottom:1em}
.display{font-size:3rem;line-height:1;font-weight:700}
@media (min-width: 1280px){
.display{font-size:4.5rem;line-height:1}}
.about{margin-bottom:8rem}
@media (min-width: 640px){
.about{margin-bottom:10rem}}
.about__inner{display:grid;grid-template-columns:repeat(12, minmax(0, 1fr));gap:1.5rem}
.about__content{grid-column:span 12 / span 12}
@media (min-width: 640px){
.about__content{grid-column:span 8 / span 8}}
@media (min-width: 1024px){
.about__content{grid-column:span 6 / span 6}}
.about__heading{margin-bottom:0.75rem;font-weight:700}
.about__description{margin-bottom:1.5rem}
.awards{margin-bottom:8rem}
@media (min-width: 640px){
.awards{margin-bottom:10rem}}
.awards__heading{margin-bottom:2rem;font-size:1.875rem;line-height:2.25rem;font-weight:700}
.awards__list{display:grid;grid-template-columns:repeat(12, minmax(0, 1fr));gap:1.5rem}
@media (min-width: 1024px){
.awards__list{grid-template-columns:repeat(10, minmax(0, 1fr))}}
.awards__item{position:relative;grid-column:span 6 / span 6;overflow:hidden;border-radius:1rem;padding:1rem}
@media (min-width: 640px){
.awards__item{grid-column:span 4 / span 4}}
@media (min-width: 1024px){
.awards__item{grid-column:span 2 / span 2}}
.awards__item img{max-height:100%}
.awards__item::after{content:"";display:block;position:absolute;inset:0;transition-property:all;transition-duration:150ms;transition-timing-function:ease-in-out;background-color:#4a4a70;mix-blend-mode:overlay}
.awards__item__color{transition-property:all;transition-duration:150ms;transition-timing-function:ease-in-out;min-height:unset;min-width:unset;z-index:10}
.awards__item__grey{transition-property:filter;transition-duration:150ms;transition-timing-function:ease-in-out;filter:grayscale(100)}
.button__inner{display:flex;align-items:center}
.button__inner > :not([hidden]) ~ :not([hidden]){--tw-space-x-reverse:0;margin-right:calc(1rem * var(--tw-space-x-reverse));margin-left:calc(1rem * calc(1 - var(--tw-space-x-reverse)))}
.button__icon{transition-property:all;transition-duration:150ms;transition-timing-function:ease-in-out;transform:none}
.button__icon .icon{height:inherit}
.button__icon img{height:100%}
.button__label{font-weight:700;transition-property:all;transition-duration:150ms;transition-timing-function:ease-in-out}
.no-touch .button:hover .button__label{color:#141414}
.no-touch .button:hover .button__icon{transform:translateX(0.15em) translateY(-0.15em)}
.button--size--regular{font-size:1.25rem;line-height:1.75rem}
.button--size--small{font-size:1.125rem;line-height:1.75rem}
.button--size--smaller{font-size:1rem;line-height:1.5rem}
.button--size--smaller .button__inner > :not([hidden]) ~ :not([hidden]){--tw-space-x-reverse:0;margin-right:calc(0.75rem * var(--tw-space-x-reverse));margin-left:calc(0.75rem * calc(1 - var(--tw-space-x-reverse)))}
.footer__heading{margin-bottom:2.25rem;font-size:1.875rem;line-height:2.25rem;font-weight:700}
@media (min-width: 640px){
.footer__heading{font-size:3rem;line-height:1}}
.footer__navigation{margin-bottom:3rem;display:flex;flex-direction:column}
.footer__navigation > :not([hidden]) ~ :not([hidden]){--tw-space-y-reverse:0;margin-top:calc(2rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(2rem * var(--tw-space-y-reverse))}
@media (min-width: 640px){
.footer__navigation{margin-bottom:4rem;flex-direction:row}
.footer__navigation > :not([hidden]) ~ :not([hidden]){--tw-space-y-reverse:0;margin-top:calc(0px * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(0px * var(--tw-space-y-reverse));--tw-space-x-reverse:0;margin-right:calc(2.75rem * var(--tw-space-x-reverse));margin-left:calc(2.75rem * calc(1 - var(--tw-space-x-reverse)))}}
.footer__copy{margin-bottom:2rem;width:80%;line-height:2rem}
@media (min-width: 640px){
.footer__copy{width:100%;line-height:1.5rem}}
.hero{margin-bottom:8rem}
@media (min-width: 640px){
.hero{margin-bottom:10rem}}
.hero__inner{position:relative;display:grid;grid-template-columns:repeat(12, minmax(0, 1fr));align-items:center;gap:1.5rem}
.hero__content{grid-column:span 12 / span 12;margin-bottom:3rem}
@media (min-width: 640px){
.hero__content{grid-column:span 7 / span 7;margin-bottom:0px}}
@media (min-width: 1024px){
.hero__content{grid-column:span 6 / span 6}}
.hero__content__loc{margin-bottom:1rem;display:flex;font-weight:700}
.hero__content__loc .icon{margin-right:0.5rem}
.hero__content__intro{margin-bottom:2.75rem}
.hero__content__description{margin-bottom:4rem;font-size:1.5rem;line-height:2rem}
.hero__content__buttons{display:flex}
.hero__content__buttons > :not([hidden]) ~ :not([hidden]){--tw-space-x-reverse:0;margin-right:calc(3rem * var(--tw-space-x-reverse));margin-left:calc(3rem * calc(1 - var(--tw-space-x-reverse)))}
.hero__content__button{grid-column:span 2 / span 2}
.hero__image{position:relative;padding-bottom:calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);--tw-aspect-w:1}
.hero__image > *{position:absolute;height:100%;width:100%;top:0;right:0;bottom:0;left:0}
.hero__image{--tw-aspect-h:1;position:relative;grid-column:span 12 / span 12;overflow:hidden;border-radius:9999px}
@media (min-width: 640px){
.hero__image{grid-column:span 5 / span 5}}
@media (min-width: 1024px){
.hero__image{grid-column:span 5 / span 5;grid-column-start:8}}
.hero__image{box-shadow:10px 10px 14px 0 rgba(74,74,112,.2),-6px -6px 10px 0 rgba(255,255,255,.35);background:#e6e6f0}
.no-touch .hero__image:hover .hero__image--hover{background:linear-gradient(120deg, rgba(240, 197, 205, 0.25), rgba(240, 197, 205, 0.25), rgba(228, 225, 160, 0.25))}
.hero__image--hover{position:absolute;inset:0;background:linear-gradient(120deg, rgba(240, 197, 205, 0.25), rgba(240, 197, 205, 0.25), rgba(228, 225, 160, 0.25))}
.hero__accent{pointer-events:none;position:absolute;opacity:0.5}
@media (min-width: 640px){
.hero__accent{opacity:1}}
.hero__accent{width:60%;right:0;bottom:-45%;min-width:unset}
@media(max-width: 1280px){.hero__accent{bottom:-27%}}
@media(max-width: 1024px){.hero__accent{bottom:-20%}}
@media(max-width: 640px){.hero__accent{bottom:-35%;right:35%;width:unset}}
.navigation{margin-bottom:2rem}
@media (min-width: 640px){
.navigation{margin-bottom:3rem}}
.navigation__inner{display:flex;align-items:center;justify-content:space-between;height:95px}
.navigation__logo{height:clamp(18px,5vw,35px)}
.navigation__logo img{height:100%}
.navigation__menu{display:flex}
.navigation__menu > :not([hidden]) ~ :not([hidden]){--tw-space-x-reverse:0;margin-right:calc(2rem * var(--tw-space-x-reverse));margin-left:calc(2rem * calc(1 - var(--tw-space-x-reverse)))}
@media (min-width: 768px){
.navigation__menu > :not([hidden]) ~ :not([hidden]){--tw-space-x-reverse:0;margin-right:calc(4rem * var(--tw-space-x-reverse));margin-left:calc(4rem * calc(1 - var(--tw-space-x-reverse)))}}
.navigation__menu__item{font-weight:700}
.js-on-screen{position:relative;opacity:0;transition-property:all;transition-duration:300ms;transition-timing-function:ease-in-out}
.js-on-screen.from-top{transform:translateY(-50px) translateZ(0)}
.js-on-screen.from-right{transform:translateX(50px) translateZ(0)}
.js-on-screen.from-bottom{transform:translateY(50px) translateZ(0)}
.js-on-screen.from-left{transform:translateX(-50px) translateZ(0)}
.js-on-screen.is-on-screen{opacity:1;transform:none}
.overlay{position:relative;display:flex;align-items:center;justify-content:center;padding:1rem;z-index:120}
.overlay__content{position:relative;width:100%;--tw-bg-opacity:1;background-color:rgb(255 255 255 / var(--tw-bg-opacity));--tw-shadow:0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);--tw-shadow-colored:0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);-webkit-animation:showOverlayContent .4s forwards;animation:showOverlayContent .4s forwards}
@-webkit-keyframes showOverlayContent{from{opacity:0;transform:translateY(5px)}to{opacity:1;transform:none}}
@keyframes showOverlayContent{from{opacity:0;transform:translateY(5px)}to{opacity:1;transform:none}}
@-webkit-keyframes hideOverlayContent{from{opacity:1;transform:none}to{opacity:0;transform:translateY(5px)}}
@keyframes hideOverlayContent{from{opacity:1;transform:none}to{opacity:0;transform:translateY(5px)}}
.page{overflow:hidden}
.page::after{pointer-events:auto;visibility:hidden;position:fixed;top:0px;right:0px;bottom:0px;left:0px;opacity:0;content:"";z-index:100}
.is-dimmed .page::after{pointer-events:auto;visibility:visible;opacity:1}
.is-locked .page{position:fixed;left:0px;width:100%}
.works{margin-bottom:8rem;padding-top:2rem}
@media (min-width: 640px){
.works{margin-bottom:10rem}}
.works__heading{margin-bottom:3rem;font-size:1.875rem;line-height:2.25rem;font-weight:700}
.works__list > :not([hidden]) ~ :not([hidden]){--tw-space-y-reverse:0;margin-top:calc(3rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(3rem * var(--tw-space-y-reverse))}
@media (min-width: 640px){
.works__list > :not([hidden]) ~ :not([hidden]){--tw-space-y-reverse:0;margin-top:calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(2.5rem * var(--tw-space-y-reverse))}}
.works__item{display:grid;grid-template-columns:repeat(12, minmax(0, 1fr));gap:1.5rem}
.works__item.hidden{display:none}
.works__item__image{position:relative;padding-bottom:calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);--tw-aspect-w:16}
.works__item__image > *{position:absolute;height:100%;width:100%;top:0;right:0;bottom:0;left:0}
.works__item__image{--tw-aspect-h:8;grid-column:span 12 / span 12;overflow:hidden;border-radius:0.5rem}
@media (min-width: 1024px){
.works__item__image{--tw-aspect-h:9;grid-column:span 6 / span 6}}
.works__item__image a{display:block}
.works__item__image img{-o-object-fit:cover;object-fit:cover}
.works__item__content{grid-column:span 12 / span 12;padding-top:1rem}
@media (min-width: 1024px){
.works__item__content{grid-column:span 4 / span 4;grid-column-start:8}}
.works__item__title{margin-bottom:0.75rem;font-size:1.875rem;line-height:2.25rem;font-weight:700}
.works__item__skills{margin-bottom:2rem;font-size:0.875rem;line-height:1.5rem;opacity:0.75}
.works__item__description{margin-bottom:1rem;line-height:1.75rem}
.works__item__buttons .button__icon{height:10px}
.works__load-more{margin-top:3.5rem}
@media (min-width: 640px){
.works__load-more{margin-top:5rem}}
.works__load-more{display:flex;align-items:center;justify-content:center;color:#4a4a70}
.services{margin-bottom:4rem}
@media (min-width: 640px){
.services{margin-bottom:8rem}}
.services__inner{display:grid;grid-template-columns:repeat(12, minmax(0, 1fr));gap:1.5rem}
.services__item{grid-column:span 12 / span 12;border-radius:1rem;padding:2rem}
@media (min-width: 768px){
.services__item{grid-column:span 4 / span 4}}
.services__item{background-color:#fff}
.services__item.d-1{transition-delay:300ms}
.services__item.d-2{transition-delay:350ms}
.services__item.d-3{transition-delay:400ms}
.services__item__icon{margin-bottom:2rem;display:inline-block;border-radius:0.75rem;padding:0.75rem;background-color:#e6e6f0}
.services__item__heading{margin-bottom:1rem;font-size:1.125rem;line-height:1.75rem;font-weight:700}
.topper{position:fixed;right:2.5rem;bottom:2.5rem;height:2.75rem;width:2.75rem;cursor:pointer;border-radius:9999px;padding:0.75rem;transition-property:all;transition-duration:150ms;transition-timing-function:ease-in-out;box-shadow:5px 5px 7px 0 rgba(74,74,112,.2),-4px -4px 5px 0 rgba(255,255,255,.35);background:#e6e6f0;opacity:0}
.topper .icon{position:relative;top:-2px}
.topper svg{fill:#4a4a70}
html{scroll-behavior:smooth;font-size:14px}
@media screen and (min-width: 320px){html{font-size:calc(
					14px + 2
					* ((100vw - 320px) / 1080)
				)}}
@media screen and (min-width: 1400px){html{font-size:16px}}
body{background-color:#e6e6f0}
::-moz-selection{background-color:#4a4a70;color:#e6e6f0}
::selection{background-color:#4a4a70;color:#e6e6f0}
/*# sourceMappingURL=maps/style.css.map */
